<style>

     asd {
          dsa
}

body {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     height: 100vh;
     background-color: gray;
}
 p {
     color: red;
     background-color: pink;
}
 .smaller-image {
     border-radius: 50%;
     width: 100px;
}
 </style>
