<style>

what

body {
     align-items: center;
     background-color: gray;
}
 p {
     color: red;
     background-color: pink;
}
 .smaller-image {
     border-radius: 50%;
     width: 100px;
}
 </style>
